/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@700&display=swap");

/* DOCUMENT BODY STYLING */

* {
  padding: 0;
  margin: 0;
  font-family: "Lora", "Poppins", serif, sans-serif;
  font-size: 10px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* INNER BOX */

.inner-container {
  padding: 5rem;
  height: 80%;
  /* border: 2px solid blue; */
  border-radius: 1.2rem;
}

/* HEADER */

header {
  padding: 2rem;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 8rem;
}

/* SEARCH */
.search {
  border: 1px solid #fff;
  border-radius: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 5rem;
  padding: 2rem;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: 100%;
  width: 100%;
}

form input {
  font-style: italic;
  height: 2.5rem;
  font-size: 1.6rem;
  border: 1px solid #fff;
  padding: 0 0.5rem;
}

form button {
  height: 2.5rem;
  font-size: 1.6rem;
  background-color: rgba(168, 237, 234, 1);
  border: 1px solid #fff;
  color: #000;
  padding: 0 3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

form button:hover {
  transition: 0.2s ease-in-out;
  background-color: rgba(91, 225, 218, 0.8);
}
