/* DOCUMENT/BODY STYLING */
* {
  padding: 0;
  margin: 0;
  font-family: "Lora", "Poppins", serif, sans-serif;
}

body {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  background: rgba(0, 0, 0, 0.4);
  /* margin: 3rem; */
  height: 90vh;
  border-radius: 12px;
}

/* ELEMENT STYLES */

header h1 {
  border-bottom: 1px solid gray;
  font-family: Poppins;
  color: white;
  font-size: 3em;
  font-weight: bold;
}

header h1:hover {
  color: aquamarine;
}

.card {
  color: white;
  background: rgba(0, 0, 0, 0.4);
}

ul {
  /* background: black; */
  margin: 0 20px;
  padding: 20px 0;
  list-style: none;
  border-top: 1px solid gray;
  font-size: 1.5em;
}

/* ul li button {
  width: 100%;
} */

.btn:hover {
  background: black;
}

/* .btn-outline-secondary {
  background: aquamarine;
  border: aquamarine;
}

.btn-outline-secondary:hover {
  background: green;
  border: green;
} */
